h1 {
  font-family: marvel, serif;
  font-size: 90px;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}

/* .bg {
  background-image: url("../../assets/.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  width: 100%;
} */
