footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
}

@media (max-width: 765px) {
  footer p {
    font-size: 12px;
    height: 12px;
  }
}
