.main-comics {
  background-image: url("../../assets/fond-pages.png");

  min-height: 100vh;
  padding-top: 150px;
  background-size: 105%;
}
.comic {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}
.comic-card {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  gap: 20px;
  margin: 15px 5px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px 0px #000000;
}
