.main-comics {
  background-image: url("../../assets/fond-pages.png");

  min-height: 100vh;
  padding-top: 150px;
  background-size: 105%;
}
.comic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.comic-card {
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  gap: 10px;
  margin: 15px 5px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px 0px #000000;
  background: rgb(1, 1, 1);
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 1) 25%,
    rgba(156, 156, 156, 1) 48%,
    rgba(255, 255, 255, 1) 77%
  );
}
.description {
  overflow: hidden;
  overflow-y: scroll;
}

@media (max-width: 1124px) {
  .comic {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .search-bar {
    width: 250px;
  }
  .title-characters-comics {
    font-size: 35px;
  }
}
