/*
font-family: "Marvel", serif;
 */

body {
  font-family: "sour-gummy", serif;
  font-size: 16px;
  /* background: linear-gradient(
    90deg,
    rgba(112, 11, 27, 1) 0%,
    rgba(188, 67, 80, 1) 45%,
    rgba(214, 63, 73, 1) 75%
  ); */
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.btn-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-previous-next {
  width: 150px;
  margin: 55px 0;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

:disabled {
  color: grey;
}
